
<launch>

    <group ns="admin">

    <!-- <node name="fill" pkg="admin"
          type="fill_admin.py" output="screen">
    </node>

    <node name="launch" pkg="admin"
          type="launch_admin.py" output="screen">
    </node>

    <node name="pressure_release" pkg="admin"
          type="pressure_release_admin.py" output="screen">
    </node> -->

    <node name="adam_driver" pkg="admin"
          type="driver_admin.py" output="screen">
    </node>

    </group>

</launch>
