
<launch>

    <group ns="hardware">

    <node name="ignition_valve_driver" pkg="hardware"
          type="motor_driver.py" output="screen">
        <remap from="command" to="/ignition_valve_command"/>
    </node>

    <node name="linear_actuator_driver" pkg="hardware"
          type="motor_driver.py" output="screen">
        <remap from="command" to="/linear_actuator_command"/>
    </node>

    <node name="solenoid_driver" pkg="hardware"
          type="solenoid_driver.py" output="screen">
        <remap from="command" to="/solenoid_command"/>
    </node>

    <node name="dispatcher" pkg="hardware"
          type="dispatcher.py" output="screen">
    </node>

    </group>

</launch>
