
<launch>

    <include file="$(find hardware)/launch/injection_valve.launch" />
    <include file="$(find hardware)/launch/abort_valve.launch" />
    <include file="$(find hardware)/launch/linear_actuator.launch" />
    <include file="$(find hardware)/launch/solenoid.launch" />
    <include file="$(find hardware)/launch/ematch.launch" />

</launch>
