
<launch>

    <group ns="sensors">

    <node name="combustion_thermocouple_1" pkg="hardware"
          type="thermocouple_driver.py" output="screen">
    </node>

    <node name="combustion_thermocouple_2" pkg="hardware"
          type="thermocouple_driver.py" output="screen">
    </node>

    <node name="combustion_transducer" pkg="hardware"
          type="pressure_transducer_driver.py" output="screen">
    </node>

    <node name="ox_tank_thermocouple" pkg="hardware"
          type="thermocouple_driver.py" output="screen">
    </node>

    <node name="ox_tank_transducer" pkg="hardware"
          type="pressure_transducer_driver.py" output="screen">
    </node>

    <node name="float_switch" pkg="hardware"
          type="liquid_level_switch_driver.py" output="screen">
    </node>

    </group>

</launch>
