
<launch>

    <include file="$(find webserver)/launch/webserver.launch" />
    <include file="$(find launch)/launch/logging.launch" />
    <include file="$(find hardware)/launch/sensors.launch" />
    <include file="$(find hardware)/launch/drivers.launch" />

    <node name="watchdog" pkg="launch"
          type="watchdog" output="screen" respawn="true" />

</launch>
