
<launch>

    <group ns="logging">

    <node name="rosbag_record" pkg="rosbag" type="record"
          args="-a -o /home/rocketry/rocket-os/logs/LOG" 
          output="screen" />

    </group>

    <group ns="transmission">

    <node name="interested" pkg="transmission" 
          type="interested.py" output="screen" />
    <node name="packet_broadcaster" pkg="transmission"
          type="packet_broadcaster" output="screen" />
    </group>

    <group ns="hardware">

    <node name="valve_motor_driver" pkg="hardware"
          type="motor_driver" output="screen"
          args="_positive:=45 _negative:=46" />
    <node name="pump_motor_driver" pkg="hardware"
          type="motor_driver" output="screen"
          args="_positive:=78 _negative:=79" />
    <node name="solenoid_driver" pkg="hardware"
          type="solenoid_driver" output="screen"
          args="_positive:=31 _negative:=32" />

    </group>

</launch>
