
<launch>

    <env name="ROSCONSOLE_CONFIG_FILE"
         value="$(find launch)/rosconsole.conf"/>

    <group ns="logging">

    <node name="rosbag_record" pkg="rosbag" type="record"
          args="-a -o /home/rocketry/rocket-os/logs/LOG" 
          output="screen" />

    </group>

    <group ns="transmission">

    <node name="interested" pkg="transmission" 
          type="interested.py" output="screen" />
    <node name="packet_broadcaster" pkg="transmission"
          type="packet_broadcaster" output="screen" />

    </group>

    <group ns="hardware">

    <node name="motor_driver" pkg="hardware"
          type="motor_driver" output="screen" />
    <node name="solenoid_driver" pkg="hardware"
          type="solenoid_driver" output="screen" />

    </group>

</launch>
